<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D58247C1C9FD4C50082B783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5824951C9FD4C50082B783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5824A01C9FD4C50082B783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
